<div class="container">
   <div class="row">
    <div class style="padding: 50px;">

        <h3 class="border bg-light">洋服の一覧・追加</h3>
    </div>
   </div>
 </div>

 <div class="container">
   <div class="row">
       <div class="text-left">
     <%= form_with model: [:admin, @type], local: true do |f| %>

    <%= f.label :洋服の種類 %>
    <%= f.text_field :name, autofocus: true ,placeholder:"洋服の種類" %>

    <%= f.submit "新規登録",class: "btn btn-success" %>
    <% end %>
     </div>
  </div>
</div>
<div class="container">
  <div class="row">
       <div class="col-md-8">
     <table class="table">
  　　　<thead>
    <tr>
       <th scope="col">洋服の種類</th>
    </tr>
  </thead>
  <tbody>
     <% @types.each do |type| %>
    <tr>
     <td><%= type.name %></td>

      <td>
        <%= link_to "編集する", edit_admin_type_path(type.id),class: "btn btn-success" %>
        <%= link_to "削除する", admin_types_path(type.id), method: :delete, class: "btn btn-success" %>
      </td>
     <% end %>
    </tr>
  </tbody>
</table>
  </div>
</div>